

/* desctop navigarion*/

.desktop-nav{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	padding-top: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background-color: $wc;
	a{
		text-decoration: none;
	}
}
.desktop-nav-icon-wrap{
	width: 64px;
}
.nav-menu-button{
	margin-bottom: 90px;
	font-family: $default-font;
	display: flex;
	flex-direction: column;
	.nav-menu-button-wrap{
		position: relative;
		width: 24px;
		height: 46px;
	}
	&__icon{
		margin-bottom: 20px;
	}
	&__text{
		position: absolute;
		top: 50%;
		left: 50%;
		display: flex;
		text-transform: uppercase;
		color: $mc3;
		font-weight: 600;
		transform: translate(-50%,-50%) rotate(-90deg);
	}
}
.lang{
	height: 42px;
	width: 192px;
	&-list{
		display: flex;
		width: 64px;
		height: 100%;
		overflow: hidden;
		transition: width 0.4s cubic-bezier(0.45, 0.2, 0.36, 1), opacity 0.25s;
		
		background-color: #CE8163;
		&:hover{
			width: 100%;
			transition: width 0.45s cubic-bezier(0.45, 0.2, 0.36, 1), opacity 0.3s;
			a{
				color: #2F2536;
			}
			
			.lang-list__item--active a{
				color: $wc;
			}
			
			.lang-list__item:nth-child(1){
				background-color: #CE8163;
				transition: all 0.3s;
			}
		}
		&__item:nth-child(1){
			background-color: $wc;
			transition: all 0.3s;
		}
		&__item{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 64px;
			min-width: 64px;
			&.lang-list__item--active{
				order: -1;
				a{
					font-weight: bold;
					color: #CE8163;
					pointer-events: none;
				}

			}
			a:hover:not(.lang-list__item--active){
				background-color: rgb(218, 167, 147);
				color: $wc;
			}
			a{
				width: 100%;
				line-height: 42px;
				justify-content: center;
				display: flex;
				font-size: 12px;
				text-transform: uppercase;
				color: transparent;
				transition: all 0.3s;
				user-select: none;
			}
		}
	}
}
.desktop-nav-btn{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 42px;
	width: 100%;
	background-color: $wc;
	&:hover{
		background-color: #CE8163;
		.desktop-nav-btn__icon{
			fill: #FFF0E0;
		}
		.desktop-nav-btn-text-wrap{
			pointer-events: auto;
			transform: translateX(0);
			opacity: 1;
			transition: transform 0.35s cubic-bezier(0.45, 0.2, 0.36, 1), opacity 0.25s;
			span{
				opacity: 1;
				transform: translateX(0px);
			}
		}
	}
	&__icon{
		z-index: 3;
		width: 33px;
		height: 33px;
		fill: #CE8163;
		transition: all 0.1s;
	}
}

.desktop-nav-icon-wrap{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.icon--phone.desktop-nav-btn__icon{
	width: 20px;
	height: 20px;
}

.desktop-nav-btn-text-wrap{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 2;
	padding-left: 64px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 185px;
	height: 42px;
	background-color: #CE8163;
	pointer-events: none;
	transform: translateX(-100%);
	transition: transform 0.4s cubic-bezier(0.45, 0.2, 0.36, 1), opacity 0.3s;

	span{
		opacity: 0;
		white-space: nowrap;
		color: $bc_text;
		font-weight: 500;
		font-size: 10px;
		text-transform: uppercase;
		transform: translateX(-15px);
		transition: all 0.8s;
		transition-delay: 0.2s;
	}
}

.nav-btn--margin{
	margin: 15px 0;
}

.desktop-header{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 30px 45px 30px 0;
	z-index: 6;
	&-logo{
		&-wrap{
			position: relative;
			padding-left: 53px;
			display: flex;
			align-items: center;
			width: 200px;
			height: 60px;
			background-color: $mc;
			transform-origin: left;
			svg{
				
				width: 115px;
				min-width: 115px;
				height: 40px;
				min-height: 40px;
			}
		}
	}
}

.phone-link{
	display: flex;
	align-items: center;
	text-decoration: none;
	&__icon{
		margin-right: 15px;
		width: 25px;
		height: 25px;
	}
	&__text{
		font-family: $default-font2;
		font-size: 18px;
	}
}
.phone-link-color--dark .phone-link__text{
	color: $bc;
}
.phone-link-color--white .phone-link__text{
	color: $wc;
}
























/*
	* slaider start
*/

span.overlay{
	pointer-events: none;
}
span.overlay__1{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}
span.overlay__2{
	position: absolute;
	height: 260px;
	width: 100%;
	left: 0px;
	bottom: 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4) 100%);
}



.main-slaider{
	position: relative;
	overflow: hidden;
	height: 100vh;
	&__item{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		.slider-img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			overflow: hidden;
			img{
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.slaider-title{
		margin-top: 9%;
		margin-right: 10%;
		display: flex;
		max-width: 600px;
		width: 100%;
		flex-direction: column;
		font-family: $default-font2;
		color: $wc;
		font-size: 70px;
		line-height: 1.2em;
		z-index: 2;
		.word-wrapper{
			display: flex;
			overflow: hidden;
		}
		.word-animate{
			display: flex;
		}
		.wrap-additional{
			position: relative;
			align-self: flex-end;
			.wrap-additional__line{
				position: absolute;
				top: 56%;
				left: 0;
				display: flex;
				width: 162px;
				height: 4px;
				content: '';
				background-color: #CE8163;
				transform: translateX(calc(-100% - 60px));
			}
		}
	}
}

.anim-overlay__1{
	position: absolute;
	left: 60px;
	top: 0;
	width: 57%;
	height: 100%;
	background-color: $wc;
	transform-origin: left;
	z-index: 2;
}
.anim-overlay__2{
	position: absolute;
	right: 0;
	top: 0;
	width: 43%;
	height: 100%;
	background-color: $wc;
	transform-origin: right;
	z-index: 2;
}

.main-overlay{
	position: absolute;
	bottom: 0;
	right: 45px;
	z-index: 3;
	padding: 65px 60px 73px 65px;
	background-color: #2F2536;
	display: flex;
	max-width: 540px;
	width: 100%;
	//width: 45%;
	height: calc(100vh - 105px);
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	transform-origin: bottom;
	&__text{
		margin-left: auto;
		display: flex;
		flex-wrap: wrap;
		width: 70%;
		font-weight: 400;
		font-size: 20px;
		line-height: 1.6em;
		color: $wc;
	}
	&__icon-logo{
		width: 220px;
		height: 220px;
		position: absolute;
		top: 50%;
		right: 0;
		fill: #3B2E43;
		transform: translate(40%,-50%);
	}
	&__log_arr{
		position: absolute;
		top: 60%;
		left: 65px;
		width: 10px;
		height: 70px;
	}
}

ul.dots{
	position: absolute;
	bottom: 80px;
	right: 0;
	display: flex;
	width: 54px;
	flex-direction: column;

}

.dots-btn{
	position: relative;
	width: 100%;
	display: flex;
	height: 40px;
	align-items: center;
	font-weight: bold;
	font-family: $default-font2;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFF0E0;
	font-size: 14px;
	.line{
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%) scaleX(1);
		transform-origin: left;
		display: flex;
		height: 2px;
		width: 20px;
		background: #CE8163;
		transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
	}
}

.dots-btn--not-active .dots-btn{
	font-size: 11px;
	color: #978E88;
		&:hover{
			color: #FFF0E0;
			.line{
				transform: translateY(-50%) scaleX(1);
			}
		}
	.line{
		transform: translateY(-50%) scaleX(0);
	}
}

.section-second-left{
	padding: 0 10% 0 6.6%;
}
.section-third-left{
	padding: 0 12.4% 0 8%;
}
.section-left{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.section-right{
	position: relative;
	width: 50%;
	img{
		position: absolute;
		top: 0;
		left: 0;
		display: none;
	}
}
.section-second{
	&__title{
		margin-bottom: 20px;
		font-family: $default-font2;
		font-size: 40px;
		line-height: 1.3em;
		color: #343434;
		span{
			display: flex;
			flex-direction: column;
		}
	}
	&__text{
		font-size: 14px;
		line-height: 1.6em;
		color: #706A75;
	}
	&__img{
		height: 100%;
		object-fit: cover;
	}
	.section__img-overlay{
		transform-origin: right;
	}
}
.section-third{
	flex-direction: row-reverse;
	&__subtitle{
		margin-bottom: 16%;
		padding-bottom: 27px;
		font-family: $default-font2;
		font-size: 22px;
		line-height: 1.55em;
		color: #343434;
		border-bottom: 1px solid #CE8163;
	}
	&__text{
		margin-bottom: 29%;
		font-size: 14px;
		line-height: 1.8em;
		color: #706A75;
	}
	&__img{
		height: 100%;
		object-fit: cover;
	}
	&__link{
	

	}
}

.section-link{
	display: flex;
	align-items: center;
	text-decoration: none;

	&__text{
		margin-right: 20px;
		display: flex;
		font-size: 16px;
		line-height: 1.6em;
		letter-spacing: 0.1em;
		color: #CE8163;
		text-transform: uppercase;
	}
	&__icon{
		height: 10px;
		width: 27px;
		fill: #2F2536;
		stroke: #2F2536;
	}
}

.section__img-overlay{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: $wc;
}


.section-four{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	&-bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
	}
	&-content{
		z-index: 1;
		overflow: hidden;
		padding: 48px 42px 69px 78px;
		display: flex;
		max-width: 650px;
		width: 100%;
		height: calc(100vh - 120px);
		flex-direction: column;
		border-left: 7px solid $mc3;
		background-color: #2F2536;
	}
}

.content-block{
	display: flex;
	flex-direction: column;
	
}
.content-text{
	font-size: 14px;
	line-height: 1.6em;
	color: #9A959E;
}
.content-block-1{
	margin-bottom: 50px;
	&__title{
		font-family: $default-font2;
		margin-bottom: 20px;
		font-size: 40px;
		line-height: 1.6em;
		color: #FFF0E0
	}
	&__text{
		
	}
}
.content-block-2{
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	&-wrap{
		max-width: 310px;
		width: 100%;
	}
	&__title{
		font-family: $default-font2;
		margin-bottom: 12px;
		font-size: 28px;
		line-height: 1.6em;
		color: #FFF0E0

	}
	&__link{
		width: 100%;
		text-align: center;
		font-size: 12px;
		line-height: 1.6em;
		letter-spacing: 0.04em;
		text-decoration-line: underline;
		text-transform: uppercase;
		color: #CE8163;
	}
}

.features{
	display: flex;
	align-items: center;
	justify-content: space-between;
	span{
		display: flex;
		line-height: 1.3em;
	}
	&-item{
		max-width: 130px;
		width: 100%;
		display: flex;
		flex-direction: column;
		&__num{
			margin-bottom: 10px;
			font-family: $default-font2;
			font-weight: bold;
			font-size: 50px;
			color: #CE8163;
		}
		&__desc{
			font-size: 12px;
			line-height: 1.7em;
			text-transform: uppercase;
			color: #FFF0E0;
		}
	}
}

.section-title{
	display: flex;
	justify-content: flex-start;
	margin-bottom: 30px;
	font-family: $default-font2;
	font-size: 40px;
	line-height: 1.1em;
	color: #2F2536;
}
.content-section-height:not(#K){
	height: calc(100vh - 120px);

}

/*
	* Six section start
*/
.section__six{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	.content-section-height{
		padding: 0 11.1% 3.1% 6.65%;
	}
	.section-title{
		margin-bottom: 30px;
	}
}
.row-items{
	display: flex;
	margin: 0 -20px 0;
}
.card{
	margin: 0 20px;
	display: flex;
	width: 285px;
	flex-direction: column;
	text-decoration: none;
	overflow: hidden;
	&:hover{
		.card-data-wrap{
			opacity: 0;
			transition: opacity 0.2s ease-out;
		}
		.card__title{
			text-decoration: underline;
		}

		.hover-overlay, .card__btn{
			opacity: 1;
			transition: opacity 0.3s ease-in;
		}
		.hover-overlay{
			svg{
				fill: #2F2536;
				.hover-logo__l{
					transform: translate(0,0);
					transition: transform 0.25s ease-in-out;
				}
				.hover-logo__r{
					transform: translate(0,0);
					transition: transform 0.2s ease-out;
					transition: transform 0.25s ease-in-out;
				}
			}
		}
	}
	.hover-overlay{
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 240, 224,.5);
		pointer-events: none;
		transition: opacity 0.2s ease-out;
		svg{
			width: 100%;
			height: 100%;
			.hover-logo__l{
				transition: transform 0.2s ease-out;
				transform: translate(-30px, -30px) rotate(-25deg);
			}
			.hover-logo__r{
				transition: transform 0.2s ease-out;
				transform: translate(30px, 30px) rotate(-25deg);
				transform-origin: 50% 0%;
			}
		}
	}
	.card-data-wrap{
		position: absolute;
		bottom: 0;
		right: 0;
		opacity: 1;
		display: flex;
		width: 93px;
		height: 34px;
		justify-content: center;
		align-items: center;
		background-color: rgba(255, 240, 224,.8);
		transition: opacity 0.25s ease-in;
	}
	.card-img-wrap{
		position: relative;
		margin-bottom: 10px;
		height: 172px;
		.card__img{
			height: 100%;
			object-fit: cover;
		}
	}
	&__title{
		margin-bottom: 10px;
		min-height: 65px;
		font-family: $default-font2;
		font-size: 22px;
		line-height: 1.5em;
		color: #343434;

	}
	&__text{
		margin-bottom: 14px;
		font-size: 14px;
		line-height: 1.6em;
		color: #706A75;
		overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
	}
	&__btn{
		opacity: 0;
		margin-top: auto;
		margin-left: auto;
		transition: opacity 0.2s ease-in;
	}
}
.card-data{
	display: flex;
	align-items: center;
	&__icon{
		margin-top: -2px;
		margin-right: 6px;
		width: 10px;
		height: 10px;
	}
	&__text{
		font-size: 10px;
		line-height: 1em;
		color: #34293D;
	}
}
/*
	* Six section end
*/
