.breadcrumbs
	ul.breadcrumbs-list
		li
			h1.main-title Підбір по параметрам
		li.breadcrumbs-item
			a(href="/").breadcrumbs-item__link Головна
		li.breadcrumbs-item
			span.breadcrumbs-item__current.breadcrumbs-item__link--color= title_page