extends ../layout/main
block variable
	-
		var title_page = 'План поверху'
		var id_page = 'floor-plan-page'
		var breadcrumbsBtn = 'filter'
		var breadcrumbsSubitem = [
			{
				label: 'Вибір за секції',
				link: pagesLink[0].section
			}
		]
	
block meta
	title= title_page
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(defer src='./assets/scripts/index.js')
	script(defer src='./assets/scripts/floor-plan.js')
block content
	.floor-plan-content
		include ../includes/breadcrumbs.pug
		.filter-plan-block
			.filter-plan-block__l
				.section-title
					.section-title__num 4
					.section-title__text секція
				.section-plan
					.section-plan__img
						include ../includes/mini-plan-section.svg
					.section-plan__text вул. Предславинська
				.section-compass
					+img('compass.svg').section-compass__img
			.filter-plan-block__c
				include ../includes/plan-floor.svg

			.filter-plan-block__r
				.floor-list
					.current-floor-wrap
						.tip-floor-list-wrap
							span.arrow-rect
							.tip-floor-list__title Поверх:
							ul.tip-floor-list.js-tip-floor-list
								li.tip-floor-list__item
									a(href="#") 1
								each v in [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
									li.tip-floor-list__item
										a.active(href="#")= v
						.current-floor.current-section
							span.current-floor__num 4
							span.current-floor__text секція
						.current-floor
							span.current-floor__num 10
							span.current-floor__text поверх
						.current-floor-nav
							a(href="#")
								+svg('arrow-small-up')
							a(href="#")
								+svg('arrow-small-down')
				ul.floor-info
					li.floor-info-item
						span.floor-info-item__key Квартира №
						span.floor-info-item__val 136
					li.floor-info-item
						span.floor-info-item__key Загальна площа м
							span.sup 2
						span.floor-info-item__val.mt_1 41,7
					li.floor-info-item
						span.floor-info-item__key Кімнат
						span.floor-info-item__val 2
					li.floor-info-item
						span.floor-info-item__key Житлова площа м
							span.sup 2
						span.floor-info-item__val.mt_1 44,2

block footer
	include ../includes/footer.pug

					
					


block header

