extends ../layout/main
block variable
	-
		var title_page = ' Підбір по параметрам'
		var id_page = 'filter-page'
	
block meta
	title Підбір по параметрам
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(defer src='./assets/scripts/index.js')
	script(defer src='./assets/scripts/.js')
block content
	.-content
		include ../includes/breadcrumbs.pug
block footer
	include ../includes/footer.pug

block header

