extends ../layout/main
block variable
	-
		var catSlaider = [	
			{ 
				img: './assets/images/home/cat-1.png',
				title: 'VODA UA у пластиковій пляшці',
				type: 'негазована 1,5л',
				price: '₴ 12.00',
				link: "#"
			},
		];
	
block meta
	title Підбір по параметрам
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(defer src='./assets/scripts/index.js')
	script(defer src='./assets/scripts/.js')
block content
block footer
	include ../includes/footer.pug

block header

