/*
* checkbox start
*/



.u-room-list{
	&__title{
		line-height: 2em;
		padding-left: 20px;
		display: block;
	}
}

.filter-room{
	flex-direction: column;
	align-items: center;
	&__title{
		margin-bottom: 5px;
	}
}


@keyframes checkbox_hover {
	0% {
		stroke: $mc;
		stroke-dasharray:  0 0 0 75.8 ;
	}
	50%{
		stroke: $mc;
		stroke-dasharray: 0 0 75.8 75.8;
	}

	100% {
		stroke: $mc;
		stroke-dasharray: 0 75.8 75.8 75.8;
	}
}
.u-filter-icon,
.u-filter__checkbox {
	width: 25px;
	height: 25px;
	&:hover{
		cursor: pointer;
		.u-filter-icon__circle {
				animation: checkbox_hover 1s linear 0s 1 normal forwards;

		}
		.u-filter__checkbox__text{
			color: $mc;
		}
		.u-filter__checkbox__label input:checked~span.u-filter__checkbox__text {
			color: $wc;
			
		}
	}
}

.u-filter-icon__circle {
	stroke-dasharray: 0;
	stroke-dashoffset: 0;
	fill: #fff;
	stroke: $wc;

}

.u-filter__checkbox{
	position: relative;
	&__text{
		position: absolute;
		top: 50%;
		left: 50%;
		color: $text;
		font-size: 12px;
		transform: translate(-50%,-50%);
		pointer-events: none;
		transition: all 0.3s;
	}
	&__label input:checked+svg .u-filter-icon__circle {
		fill: $mc;
	}
	&__label input:checked~span.u-filter__checkbox__text {
		color: $wc;
	}
}

.u-room-list-wrapper {
	min-width: 170px;
	padding: 0px 8px 0 8px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.u-room-list-item{
	margin: 0px 5px 5px 5px;
}

/*
* checkbox end
*/