@import './assets/vars';  // переменные
@import './assets/smart-grid';  // mixins smartgrid.js
// libraries
@import './libs';

// assets
@import './assets/mixins';  // миксины
@import './assets/fonts';  // шрифты
@import './assets/base';  // общие стили
@import './assets/animation';  // анимации
@import './assets/class'; // main style
@import './assets/interface'; // main style


// sass dima
@import './header';
@import './footer';
@import './404';
@import './loader';

@import './pages/home';

.transition-effect{
	position: fixed;
	display: flex;
	width: 120vw;
	height: 120vw;
	background: #3B2E43;
	z-index: 50;
	&__1{
		top: 0;
		left: 0;
		transform: translate(-50%,-50%) rotate(45deg) scale(0);
	}
	&__2{
		top: 0;
		right: 0;
		transform: translate(50%, -50%) rotate(45deg) scale(0);
	}
	&__3{
		bottom: 0;
		right: 0;
		transform: translate(50%, 50%) rotate(45deg) scale(0);
	}
	&__4{
		bottom: 0;
		left: 0;
		transform: translate(-50%, 50%) rotate(45deg) scale(0);
	}
}
.loader-logo{
	position: fixed;
	top: 50%;
	left: 50%;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transform: translate(-50%,-50%);
	fill: $mc3;
	z-index: 55;
	&__r{
		transform-origin: 50% 0%;
	}
}


.controll{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	display: none;
	align-items: center;
	z-index: 998;
	padding: 0 40px;
	background-color: #cccccc;
	button{
		margin: 0 10px;
	}
}

.section{
	display: flex;
	padding-left: 65px;
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	@include to(1020px){
		padding-left: 0;
		min-height: 100vh;
		height: auto;
	}
	@include to(992px){
		padding-left: 0;
		height: auto;
		min-height: auto;
	}
}
.js_animation{
	.section{
		position: absolute;
		top: 0;
		left: 0;
	}
	.section-footer{
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		max-width: 600px;
	}
	.section__img-overlay{
		display: flex;
	}
	.section__img-overlay{
		display: flex;
	}
	.loader-logo{
		opacity: 1;
		visibility: visible;
	}
}
.section-slaider:not(#d){
	display: block;
}
.section-footer{
	padding-left: 9.6%;
	display: flex;
	align-items: center;
	height: 70px;
	flex-wrap: wrap;
	width: 100%;
	@include to(1020px){
		padding-left: 0;
		padding: 0 20px;
	}
	&__logo{
		width: 155px;
		height: 27px;
		margin-right: 17%;
		@include to(1024px){
			margin-right: 10%;
		}
		@include to(576px){
			width: 128px;
			height: 22px;
		}
		@include to(475px) {
			order: 1;
		}
	}
	&__link{
		margin-bottom: -6px;
	}
}

.footer-link{
	display: flex;
	align-items: center;
	text-decoration: none;
	@include to(475px){
		margin-top: -4px;
		margin-bottom: 10px;
		min-width: 300px;
		order: 3;
	}
	&__icon{
		margin-right: 10px;
		width: 7px;
		height: 10px;
	}
	&__text{
		font-weight: 500;
		font-size: 10px;
		text-transform: uppercase;
		color: #C2BFC4;
		white-space: nowrap;
			@include to(375px) {
				.footer-link__text {
					font-size: 8px;
			}
			}
	}
}
.slide--hidden{
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}



body[data-active="1"], body[data-active="2"]{
	.desktop-header-phone__text{
		color: $wc;
		transition: all 0.3s;
	}
}
body[data-active="3"]{
	.desktop-nav, .desktop-nav-btn{
		background-color: transparent;
	}
	.lang-list__item:nth-child(1), .lang-list{
		background-color: transparent;
	}
	.lang-list:hover{
		background-color: $mc3;
	}
}


.mobile-nav{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	padding: 0 20px;
	@include from(1021px){
		display: none;
	}
	@include to(576px){
		padding: 0 10px;
		height: 52px;
	}
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 74px;
	background: #2F2536;
	&-logo{
		width: 114px;
		height: 45px;
		@include to(576px){
			width: 74px;
			height: 30px;

		}
		svg{
			width: 100%;
			height: 100%;
		}
	}
}

.mobile-phone-wrap{
	position: relative;
	padding-right: 20px;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	@include to(576px){
		padding-right: 15px;
		margin-right: 15px;

	}
	&::after{
		position: absolute;
		top: 50%;
		right: 0;
		opacity: 0.3;
		display: flex;
		content: '';
		width: 0.8px;
		height: 30px;
		background-color: #9A959E;
		transform: translateY(-50%);
	}
}
.call-link{
	position: relative;
	margin-left: auto;
	text-decoration: none;
	&__text{
		font-size: 12px;
		color: #9A959E;
		@include to(576px){
			font-size: 10px;
			line-height: 0.8em;
		}
		&::after{
			position: absolute;
			bottom: -1px;
			left: 0;
			display: flex;
			content: '';
			height: 0.8px;
			width: 100%;
			background-color: #9A959E;
			@include to(576px){
				bottom: 3px;
			}
		}
	}
}



.lang-list-vertical{
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 23px;
	transition: all 0.3s;
	&-wrap{
		display: flex;
		align-items: center;
		transition: all 0.3s;
		&:hover{
			cursor: pointer;
			.lang-list-vertical{
				height: 69px;
			}
			svg{
				transform: rotate(180deg);
			}
	}
		svg{
			margin: 0 5px;
			width: 15px;
			height: 10px;
			transition: all 0.3s;
		}
	}
	&__item.active{
		order: -1;
	}
	&__item{
		a{
			text-decoration: none;
			font-size: 12px;
			line-height: 1.5em;
			text-transform: uppercase;
			color: #FFF0E0;
			@include to(576px){
				line-height: 1.1em;
			}
		}
	}
}

.mobile-nav-wrap{
	display: flex;
	align-items: center;
	@include to(576px){
		height: 90%;
	}
}

.mobile-nav__btn{
	margin-left: 30px;
	width: 21px;
	height: 10px;
	@include to(576px){
		margin-top: -4px;
		margin-left: 17px;

	}
	svg{
		width: 100%;
		height: 100%;
	}
}

/*
	* popup start
*/
.popup-call{
	padding: 121px 4.1% 75px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 555px;
	width: calc(100% - 30px);
	max-height: 750px;
	height: calc(100% - 60px);
	background: rgba(0, 0, 0, 0.9);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: 40;
	margin: auto;
	pointer-events: auto;
	visibility: hidden;

	@include to(1280px){
		padding: 80px 4.1% 75px;
		height: calc(100vh - 20px);
	}
	@include to(576px){
		max-height: none;
		justify-content: space-around;
	}
	&__bg-overlay{
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		max-height: 100vh;
		object-fit: cover;
		pointer-events: none;
		background-size: cover;
	}
	&__close{
		position: absolute;
		top: 25px;
		right: 25px;
		@include to(576px){
			top: 20px;
			right: 20px;

		}
	}
	&__title{
		max-width: 262px;
		font-family: $default-font2;
		font-size: 30px;
		line-height: 1.5em;
		color: #9A959E;
		@include to(1440px){
			max-width: none;
		}
		@include to(1280px){
			font-size: 25px;
			max-width: 80%;
		}
	}
}

.popup-close{
	width: 45px;
	height: 45px;
	@include to(576px){
		width: 30px;
		height: 30px;
	}
	&__icon{
		width: 100%;
		height: 100%;
	}
}

.main-form{
	display: flex;
	flex-direction: column;
}


.main-form-block{
	position: relative;
	margin-bottom: 40px;
	max-width: 329px;
	display: flex;
	flex-direction: column;
	input{
		padding-left: 25px;
		height: 42px;
		background-color: transparent;
		border: none;
		font-size: 20px;
		line-height: 1em;
		color: $wc;
		border-bottom: 1px solid #706A75;
		@include to(1280px){
			font-size: 18px;
		}
	}
	.main-form-content{
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		width: 100%;
		height: 100%;
		pointer-events: none;
	}
	.main-form__text{
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		font-size: 20px;
		font-weight: 500;
		line-height: 1em;
		color: $wc;
		transform: scale(1) translate(25px, -50%);
		pointer-events: none;
		transition: transform 0.3s ease-in;
		@include to(1280px) {
			font-size: 18px;
		}

		@include to(576px) {
			font-size: 14px;
		}
	}
}
.popup-call__submit-btn{
	margin: 40px 10px 0 0;
	justify-content: flex-end;
	@include to(1440px){
		margin: 20px 10px 0 0;

	}
	span.section-link__text{
		font-family: $default-font2;
		letter-spacing: 0.1em;
		font-size: 16px;
		color: #FFF0E0;
	}
	svg{
		fill: #CE8163;
		stroke: #CE8163;
	}
}

.popup-call__title-wrap{
	margin-bottom: 70px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	@include to(1280px){
		margin-bottom: 40px;
	}
	.popup-call-notice{
		margin: 16px 16px 0 0;
		font-weight: 500;
		font-size: 10px;
		line-height: 1em;
		text-transform: uppercase;
		color: #FFF0E0;
		@include to(1440px){
			display: none;
		}
	}
}

.main-form-block__data-time{
	margin-bottom: 20px;
	display: none;
}



.modal-overlay {
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 39;
}

.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	pointer-events: none;
	z-index: 40;
}


/*
	* popup end
*/

body.modal-active{
	overflow: hidden;
	margin-right: 8px;
}